absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ase==3.22.1
asn1crypto==0.24.0
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
bleach==4.1.0
blis==0.7.8
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.7
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
-e git+https://github.com/openai/CLIP.git@4d120f3ec35b30bd0f992f5d8af2d793aad98d2a#egg=clip
cloudpickle==2.1.0
cmake==3.13.0
contextvars==2.4
cryptography==2.1.4
cycler==0.11.0
cymem==2.0.6
cytoolz==0.12.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
easydict==1.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
entrypoints==0.4
filelock==3.4.1
frozenlist==1.2.0
fsspec==2022.1.0
ftfy==6.0.3
future==0.18.2
-e git+https://github.com/openai/glide-text2im.git@69b530740eb6cef69442d6180579ef5ba9ef063e#egg=glide_text2im
google-auth==2.8.0
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.46.3
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.3
idna-ssl==1.1.0
immutables==0.18
importlib-metadata==4.8.3
importlib-resources==5.4.0
install==1.3.5
ipdb==0.13.9
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
isodate==0.6.1
jedi==0.17.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
json5==0.9.8
jsonlines==3.0.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
langcodes==3.3.0
line-profiler==3.5.1
llvmlite==0.36.0
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
msgpack==1.0.3
msgpack-numpy==0.4.7.1
multidict==5.2.0
murmurhash==1.0.7
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
networkx==2.5.1
notebook==6.4.10
numba==0.53.1
numpy==1.19.5
numpy-quaternion==2022.4.2
oauthlib==3.2.0
opencv-python==4.1.0.25
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pathy==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
preshed==3.0.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycrypto==2.6.1
pydantic==1.9.1
pyDeprecate==0.3.1
Pygments==2.12.0
PyGObject==3.26.1
pyparsing==3.0.9
pyrsistent==0.18.0
python-dateutil==2.8.2
python-louvain==0.16
pytorch-lightning==1.5.10
pytorch-pretrained-bert==0.6.2
pytz==2022.1
pyxdg==0.25
PyYAML==6.0
pyzmq==23.2.0
rdflib==5.0.0
regex==2022.6.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.4.0
spacy-legacy==3.0.9
spacy-loggers==1.0.3
srsly==2.4.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
terminado==0.12.1
testpath==0.6.0
thinc==8.1.0
threadpoolctl==3.1.0
timm==0.4.12
tokenizers==0.8.0rc4
toml==0.10.2
toolz==0.12.0
torch==1.7.1+cu92
torch-cluster @ https://data.pyg.org/whl/torch-1.7.0%2Bcu92/torch_cluster-1.5.8-cp36-cp36m-linux_x86_64.whl
torch-geometric==1.6.3
torch-scatter @ https://data.pyg.org/whl/torch-1.7.0%2Bcu92/torch_scatter-2.0.5-cp36-cp36m-linux_x86_64.whl
torch-sparse @ https://data.pyg.org/whl/torch-1.7.0%2Bcu92/torch_sparse-0.6.8-cp36-cp36m-linux_x86_64.whl
torch-spline-conv @ https://data.pyg.org/whl/torch-1.7.0%2Bcu92/torch_spline_conv-1.2.0-cp36-cp36m-linux_x86_64.whl
torchaudio==0.7.2
torchmetrics==0.8.2
torchvision==0.8.2+cu92
tornado==6.1
tqdm==4.64.0
traitlets==4.3.3
transformers==3.0.1
typer==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
yacs==0.1.8
yarl==1.7.2
zipp==3.6.0
